._bash_profile
._bashrc
.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.docker/
.gitconfig
.gitignore_global
.hushlogin
.lesshst
.my.cnf
.npmrc
.profile
.screenrc
.siege/
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vimrc
dotfiles/
spec-summary.log
tmp/
initial_data/
kataribe
